---
import Navigation from "../components/Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<style>
  nav {
    display: flex;
    gap: 0.475rem;
  }
</style>

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
